@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/colors' as *;

.header {
    font-family:$fontReg;
    display:flex;
    flex-wrap:wrap;
    width:90%;
    margin:auto;
    gap:2%;
    &__logo {
        width:34%;
        padding:16px 33%;
        @include tablet {
            width:50%;
        }
    }
    &__search-box {
        height:36px;
        width:240px;
        font-family: $fontReg;
        width:88%;
    }
    &__avatar {
        border-radius:50%;
        height:36px;
        width:36px;
    }
    &__upload-btn {
        width:100%;
        margin:16px 0px;
        padding:8px 0px;
        text-align:center;
        position:relative;
        font-family:$fontReg;
        font-size:18px;
        background-color:$bfBlue;
        border:none;
        border-radius:4px;
        color:$white;
    }
    &__upload-btn-icon {
        position:absolute;
        left:8px;
        height:calc(100% - 16px);
    }
}