@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;

.upload {
    width: 90%;
    margin: auto;
    font-family: $fontReg;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;

    @include tablet {
        justify-content: flex-end;
    }

    @include desktop {
        width: 80%;
    }

    &__title {
        font-size: 24px;
        width: 100%;

        @include desktop {}
    }

    &__form {
        color: $silver;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        @include desktop {
            width: 60%;
        }
    }

    &__margin {
        border-top: 2px solid $mercury;
        width: 100%;

        &-tablet {
            display: none;

            @include tablet {
                border-top: 2px solid $mercury;
                width: 100%;
                margin: 0px 0 24px 0;
                display: block;
            }
        }
    }

    &__label {
        text-transform: uppercase;
        color: $silver;
        font-weight: 400;
        width: 100%;
        font-weight: 600;
    }

    &__text-input-box {
        width: 100%;
        margin: 16px 0;
        height: 42px;
        border: 1px solid $mercury;
        border-radius: 4px;
        font-family: $fontReg;
        padding-left: 16px;
    }

    &__text-input-box-large {
        width: 100%;
        margin: 16px 0 24px 0;
        height: 84px;
        border: 1px solid $mercury;
        border-radius: 4px;
        font-family: $fontReg;
        padding: 16px 0 0 16px;
    }

    &__thumbnail {
        width: 100%;
        border-radius: 4px;
        padding: 16px 0 24px 0;

        @include tablet {
            width: 50%;
            margin-right: 50%;
        }

        @include desktop {
            width: 38%;
            margin-right: 0;
        }
    }

    &__publish-btn {
        width: 100%;
        margin: 16px 0px;
        padding: 8px 0px;
        text-align: center;
        position: relative;
        font-family: $fontReg;
        font-size: 18px;
        background-color: $bfBlue;
        border: none;
        border-radius: 4px;
        color: $white;

        @include tablet {
            order: 2;
            width: 25%;
        }

        @include desktop {}
    }

    &__cancel-link {
        width: 100%;

        @include tablet {
            width: 25%;
            order: 1;
            margin-left:50%;
        }
    }

    &__cancel-btn {
        width: 100%;
        margin: 16px 0px;
        padding: 8px 0px;
        text-align: center;
        position: relative;
        font-family: $fontReg;
        font-size: 18px;
        background-color: $white;
        font-weight: 600;
        color: $bfBlue;
        border: none;
        border-radius: 4px;
    }

    &__btn-icon {
        position: absolute;
        left: 8px;
        height: calc(100% - 16px);
    }
}