@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.video {
    &__container {
        width: 100%;
        padding-top: 56.25%;
        height: 0px;
        position: relative;
        @include tablet {
            width:90%;
            padding-top:50.625%;
            margin:auto;
        }
        @include desktop {
            width:70%;
            padding-top:39.375%;
            margin:auto;
        }
        &-tablet {
            width:100%;
            background-color:$black;
            @include tablet {
                order:2;
            }
        }
    }
    &__player {
        width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    }
}