@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/colors' as *;

.comment {
    &__all {
        @include desktop {
            width: 70%;
            display: inline-block;
            vertical-align: top;
            order: 5;
        }
    }
    flex:auto;

    &__main {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        padding: 0rem 5% 0rem 5%;
    }

    &__number-of-comments {
        margin: 24px 0 0 0;
    }

    &__title {
        width: 100%;
        margin-left: 15%;
        text-transform: uppercase;
        color: $silver;
        padding: 24px 0 0 0;

        @include mobile {
            font-size: 12px;
            font-family: $fontBold;
            font-weight: 700;
        }

        @include tablet {
            font-size: 12px;
            font-family: $fontBold;
            font-weight: 700;
            margin-left: 10%;
        }
    }

    &__form {
        @include mobile {
            padding-bottom: 1rem;
            flex: 1;
        }

        @include tablet {
            padding-bottom: 1.5rem;
            width: 100%;
        }

        &-entry {
            @include tablet {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    &__label {
        @include mobile {
            @include mobile-label;
        }

        @include tablet {
            @include tablet-desktop-label;
        }
    }

    &__comment-btn-icon {
        position: absolute;
        left: 8px;
        height: calc(100% - 16px);
    }

    &__button {
        background-color: $bfBlue;
        color: $white;
        position: relative;
        border: none;
        height: 40px;
        border-radius: 4px;
        font-family: $fontReg;
        font-size: 18px;

        @include mobile {
            width: 100%;
        }

        @include tablet {
            width: 35%;
        }
    }

    &__button:hover {
        background-color: $black;
    }

    &__name {
        font-family: $fontReg;
        background-color: $alabaster;
        border: 1px solid $mercury;

        @include mobile {
            height: 2.25rem;
            border-radius: .25rem;
            width: 100%;
            padding: .75rem;
            margin-bottom: 1rem;
            font-size: .875rem;
        }

        @include tablet {
            height: 3rem;
            border-radius: .25rem;
            border-color: $mercury;
            width: 100%;
            padding: .75rem;
            margin-bottom: 1rem;
            font-size: .875rem;
        }
    }

    &__textentry {
        font-family: $fontReg;
        background-color: $alabaster;

        @include mobile {
            height: 150px;
            border-radius: .25rem;
            border-color: $mercury;
            width: calc(100% - 0.75rem);
            padding: 0.75rem 0 0 0.75rem;
            margin-bottom: 1rem;
            font-size: .875rem;
            resize: none;
        }

        @include tablet {
            width: 60%;
            resize: none;
            height: 40px;
            align-items: center;
            border-radius: 0.25rem;
            border-color: $mercury;
            padding: 0 0 0 15px;
            line-height: 40px;
        }
    }

    &__add {
        display: flex;
        flex: 1;
        border-bottom: .0625rem solid $mercury;
    }

    &__avatar {
        @include mobile {
            width: 15%;
        }

        @include tablet {
            width: 10%;
        }

        &__img {
            @include mobile {
                border-radius: 50%;
                height: 2.25rem;
                width: 2.25rem;
            }

            @include tablet {
                border-radius: 50%;
                height: 3rem;
                width: 3rem;
            }
        }

        &--entered {
            @include mobile {
                width: 2.25rem;
                height: 2.25rem;
                background-color: $mercury;
                border-radius: 50%;
            }

            @include tablet {
                width: 3rem;
                height: 3rem;
                background-color: $mercury;
                border-radius: 50%;
            }
        }

        &--container {
            width: 15%;

            @include tablet {
                width: 10%;
            }
        }
    }

    &__metadata {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $mercury;
        margin: 1rem 0 0 0;
    }

    &__author {
        @include mobile {
            @include mobile-subheader;
            font-family: $fontReg;
            width: 50%;
            padding-bottom: 1rem;
        }

        @include tablet {
            @include tablet-desktop-subheader;
            font-family: $fontReg;
            width: 50%;
            padding-bottom: 1rem;
        }
    }

    &__date {
        @include mobile {
            @include mobile-subheader;
            width: 50%;
            text-align: right;
            color: $silver;
            font-weight: 400;
        }

        @include tablet {
            width: 50%;
            text-align: right;
            color: $silver;
            font-weight: 400;
            font-family: $fontReg;
            font-size: 1.5rem;
        }
    }

    &__text {
        @include mobile {
            width: 100%;
            @include mobile-subheader;
            font-weight: 400;
            padding-bottom: 1rem;
        }

        @include tablet {
            width: 100%;
            @include tablet-desktop-subheader;
            font-family: $fontReg  !important;
            font-weight: 400 !important;
            padding-bottom: 1rem;
        }
    }
}

.mobile-only {
    @include tablet {
        display:none;
    }
}

.meta {
    &__all-data {
        @include desktop {
            width:100%;
            order:3;
        }
    }
    &__views {
        @include tablet {
            order:3;
            width:35%;
            text-align:right;
        }
    }
    &__date {
        @include tablet {
            order:2;
            width:35%;
            text-align:left;
        }
    }
    &__likes {
        @include tablet {
            order:4;
            width:15%;
            text-align:right;
        }
    }
    &__title {
        width:90%;
        margin:auto;
        font-size:36px;
        padding:24px 0px;
        text-align:left;
    }
    &__divider {
        width:100%;
        margin:auto;
        height:2px;
        background-color: $mercury;
        margin:0px auto 24px auto;
        @include tablet {
            order:5;
        }
        @include desktop {
            margin:none;
        }
    }
    &__container {
        width:90%;
        margin:auto;
        display:flex;
        flex-wrap:wrap;
        @include desktop {
            
        }
    }
    &__item {
        @include mobile {
            width:50%;
            text-align:left;
        }
        padding:0px 0px 24px 0px;
        color:$silver;
    }
    &__item-title {
        width:50%;
        text-align:left;
        padding:0px 0px 24px 0px;
        font-weight:700;
        @include tablet {
            order:1;
            width:15%;
        }
    }
    &__item-value {
        padding:0px 0px 0px 16px;
        color:$silver;
    }
    &__description {
        text-align:left;
        @include tablet {
            order:5;
        }
    }
}